.how-it-works{
    background-image: url('https://uploads-ssl.webflow.com/62517a5448ad13673bbfeb7f/62533b7d9f9c3504edfb7c13_blur.svg');
    background-position: 140% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}